<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="edu.buffalo.cse.jive.preferences.common_filters">
<listEntry value="antlr.*"/>
<listEntry value="com.apple.*"/>
<listEntry value="com.mysql.*"/>
<listEntry value="com.sun.*"/>
<listEntry value="java.*"/>
<listEntry value="javax.*"/>
<listEntry value="org.apache.*"/>
<listEntry value="org.eclipse.*"/>
<listEntry value="org.hibernate.*"/>
<listEntry value="org.jcp.*"/>
<listEntry value="org.junit.*"/>
<listEntry value="org.postgresql.*"/>
<listEntry value="org.w3c.*"/>
<listEntry value="org.xml.*"/>
<listEntry value="sun.*"/>
<listEntry value="$Proxy*"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WU10/src/code"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="2"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=WU10/src&lt;code"/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WU10"/>
</launchConfiguration>
